In [1]:
import time
from pyspark.sql import SparkSession
from pyspark import StorageLevel

VBox()

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [2]:
def q01():
    t1 = time.time()
    sql_lineitem = spark.sql(
        """select
                l_returnflag,
                l_linestatus,
                sum(l_quantity) as sum_qty,
                sum(l_extendedprice) as sum_base_price,
                sum(l_extendedprice * (1 - l_discount)) as sum_disc_price,
                sum(l_extendedprice * (1 - l_discount) * (1 + l_tax)) as sum_charge,
                avg(l_quantity) as avg_qty,
                avg(l_extendedprice) as avg_price,
                avg(l_discount) as avg_disc,
                count(*) as count_order
            from
                lineitem
            where
                l_shipdate <= date '1998-12-01' - interval '90' day
            group by
                l_returnflag,
                l_linestatus
            order by
                l_returnflag,
                l_linestatus"""
    )

    sql_lineitem.show()
    print("Q01 Execution time (s): ", time.time() - t1)


def q02():
    t1 = time.time()
    SIZE = 15
    TYPE = "BRASS"
    REGION = "EUROPE"
    total = spark.sql(
        f"""select
                s_acctbal,
                s_name,
                n_name,
                p_partkey,
                p_mfgr,
                s_address,
                s_phone,
                s_comment
            from
                part,
                supplier,
                partsupp,
                nation,
                region
            where
                p_partkey = ps_partkey
                and s_suppkey = ps_suppkey
                and p_size = {SIZE}
                and p_type like '%{TYPE}'
                and s_nationkey = n_nationkey
                and n_regionkey = r_regionkey
                and r_name = '{REGION}'
                and ps_supplycost = (
                    select
                    min(ps_supplycost)
                    from
                    partsupp, supplier,
                    nation, region
                    where
                    p_partkey = ps_partkey
                    and s_suppkey = ps_suppkey
                    and s_nationkey = n_nationkey
                    and n_regionkey = r_regionkey
                    and r_name = '{REGION}'
                    )
            order by
                s_acctbal desc,
                n_name,
                s_name,
                p_partkey"""
    )

    total.show()
    print("Q02 Execution time (s): ", time.time() - t1)


def q03():
    t1 = time.time()
    total = spark.sql(
        """select
            l_orderkey,
            sum(l_extendedprice * (1 - l_discount)) as revenue,
            o_orderdate,
            o_shippriority
        from
            customer,
            orders,
            lineitem
        where
            c_mktsegment = 'HOUSEHOLD'
            and c_custkey = o_custkey
            and l_orderkey = o_orderkey
            and o_orderdate < date '1995-03-04'
            and l_shipdate > date '1995-03-04'
        group by
            l_orderkey,
            o_orderdate,
            o_shippriority
        order by
            revenue desc,
            o_orderdate
        limit 10"""
    )

    total.show()
    print("Q03 Execution time (s): ", time.time() - t1)


def q04():
    t1 = time.time()
    total = spark.sql(
        """select
                o_orderpriority,
                count(*) as order_count
            from
                orders
            where
                o_orderdate >= date '1993-08-01'
                and o_orderdate < date '1993-08-01' + interval '3' month
                and exists (
                    select
                        *
                    from
                        lineitem
                    where
                        l_orderkey = o_orderkey
                        and l_commitdate < l_receiptdate
                )
            group by
                o_orderpriority
            order by
                o_orderpriority"""
    )

    total.show()
    print("Q04 Execution time (s): ", time.time() - t1)


def q05():
    t1 = time.time()
    total = spark.sql(
        """select
                n_name,
                sum(l_extendedprice * (1 - l_discount)) as revenue
            from
                customer,
                orders,
                lineitem,
                supplier,
                nation,
                region
            where
                c_custkey = o_custkey
                and l_orderkey = o_orderkey
                and l_suppkey = s_suppkey
                and c_nationkey = s_nationkey
                and s_nationkey = n_nationkey
                and n_regionkey = r_regionkey
                and r_name = 'ASIA'
                and o_orderdate >= date '1996-01-01'
                and o_orderdate < date '1996-01-01' + interval '1' year
            group by
                n_name
            order by
                revenue desc"""
    )

    total.show()
    print("Q05 Execution time (s): ", time.time() - t1)


def q06():
    t1 = time.time()
    sql_lineitem = spark.sql(
        """select
                sum(l_extendedprice * l_discount) as revenue
            from
                lineitem
            where
                l_shipdate >= date '1996-01-01'
                and l_shipdate < date '1996-01-01' + interval '1' year
                and l_discount between .08 and .1
                and l_quantity < 24"""
    )
    sql_lineitem.show()
    print("Q06 Execution time (s): ", time.time() - t1)


def q07():
    t1 = time.time()
    NATION1 = "FRANCE"
    NATION2 = "GERMANY"
    total = spark.sql(
        f"""select
                supp_nation,
                cust_nation,
                l_year, sum(volume) as revenue
            from (
                select
                    n1.n_name as supp_nation,
                    n2.n_name as cust_nation,
                    extract(year from l_shipdate) as l_year,
                    l_extendedprice * (1 - l_discount) as volume
                from
                    supplier,
                    lineitem,
                    orders,
                    customer,
                    nation n1,
                    nation n2
                where
                    s_suppkey = l_suppkey
                    and o_orderkey = l_orderkey
                    and c_custkey = o_custkey
                    and s_nationkey = n1.n_nationkey
                    and c_nationkey = n2.n_nationkey
                    and (
                    (n1.n_name = '{NATION1}' and n2.n_name = '{NATION2}')
                    or (n1.n_name = '{NATION2}' and n2.n_name = '{NATION1}')
                    )
                    and l_shipdate between date '1995-01-01' and date '1996-12-31'
                ) as shipping
            group by
                supp_nation,
                cust_nation,
                l_year
            order by
                supp_nation,
                cust_nation,
                l_year"""
    )
    total.show()
    print("Q07 Execution time (s): ", time.time() - t1)


def q08():
    t1 = time.time()
    NATION = "BRAZIL"
    REGION = "AMERICA"
    TYPE = "ECONOMY ANODIZED STEEL"
    total = spark.sql(
        f"""select
                o_year,
                sum(case
                    when nation = '{NATION}'
                    then volume
                    else 0
                end) / sum(volume) as mkt_share
            from (
                select
                    extract(year from o_orderdate) as o_year,
                    l_extendedprice * (1-l_discount) as volume,
                    n2.n_name as nation
                from
                    part,
                    supplier,
                    lineitem,
                    orders,
                    customer,
                    nation n1,
                    nation n2,
                    region
                where
                    p_partkey = l_partkey
                    and s_suppkey = l_suppkey
                    and l_orderkey = o_orderkey
                    and o_custkey = c_custkey
                    and c_nationkey = n1.n_nationkey
                    and n1.n_regionkey = r_regionkey
                    and r_name = '{REGION}'
                    and s_nationkey = n2.n_nationkey
                    and o_orderdate between date '1995-01-01' and date '1996-12-31'
                    and p_type = '{TYPE}'
                ) as all_nations
            group by
                o_year
            order by
                o_year"""
    )
    total.show()
    print("Q08 Execution time (s): ", time.time() - t1)


def q09():
    t1 = time.time()
    total = spark.sql(
        """select
                nation,
                o_year,
                sum(amount) as sum_profit
            from
                (
                    select
                        n_name as nation,
                        year(o_orderdate) as o_year,
                        l_extendedprice * (1 - l_discount) - ps_supplycost * l_quantity as amount
                    from
                        part,
                        supplier,
                        lineitem,
                        partsupp,
                        orders,
                        nation
                    where
                        s_suppkey = l_suppkey
                        and ps_suppkey = l_suppkey
                        and ps_partkey = l_partkey
                        and p_partkey = l_partkey
                        and o_orderkey = l_orderkey
                        and s_nationkey = n_nationkey
                        and p_name like '%ghost%'
                ) as profit
            group by
                nation,
                o_year
            order by
                nation,
                o_year desc"""
    )
    total.show()
    print("Q09 Execution time (s): ", time.time() - t1)


def q10():
    t1 = time.time()
    total = spark.sql(
        """select
                c_custkey,
                c_name,
                sum(l_extendedprice * (1 - l_discount)) as revenue,
                c_acctbal,
                n_name,
                c_address,
                c_phone,
                c_comment
            from
                customer,
                orders,
                lineitem,
                nation
            where
                c_custkey = o_custkey
                and l_orderkey = o_orderkey
                and o_orderdate >= date '1994-11-01'
                and o_orderdate < date '1994-11-01' + interval '3' month
                and l_returnflag = 'R'
                and c_nationkey = n_nationkey
            group by
                c_custkey,
                c_name,
                c_acctbal,
                c_phone,
                n_name,
                c_address,
                c_comment
            order by
                revenue desc
            limit 20"""
    )

    total.show()
    print("Q10 Execution time (s): ", time.time() - t1)


def q11():
    t1 = time.time()
    NATION = "GERMANY"
    FRACTION = 0.0001
    total = spark.sql(
        f"""select
                ps_partkey,
                sum(ps_supplycost * ps_availqty) as value
            from
                partsupp,
                supplier,
                nation
            where
                ps_suppkey = s_suppkey
                and s_nationkey = n_nationkey
                and n_name = '{NATION}'
            group by
                ps_partkey having
                        sum(ps_supplycost * ps_availqty) > (
                    select
                        sum(ps_supplycost * ps_availqty) * {FRACTION}
                    from
                        partsupp,
                        supplier,
                        nation
                    where
                        ps_suppkey = s_suppkey
                        and s_nationkey = n_nationkey
                        and n_name = '{NATION}'
                    )
                order by
                    value desc"""
    )

    total.show()
    print("Q11 Execution time (s): ", time.time() - t1)


def q12():
    t1 = time.time()
    total = spark.sql(
        """select
                l_shipmode,
                sum(case
                    when o_orderpriority = '1-URGENT'
                        or o_orderpriority = '2-HIGH'
                        then 1
                    else 0
                end) as high_line_count,
                sum(case
                    when o_orderpriority <> '1-URGENT'
                        and o_orderpriority <> '2-HIGH'
                        then 1
                    else 0
                end) as low_line_count
            from
                orders,
                lineitem
            where
                o_orderkey = l_orderkey
                and l_shipmode in ('MAIL', 'SHIP')
                and l_commitdate < l_receiptdate
                and l_shipdate < l_commitdate
                and l_receiptdate >= date '1994-01-01'
                and l_receiptdate < date '1994-01-01' + interval '1' year
            group by
                l_shipmode
            order by
                l_shipmode"""
    )

    total.show()
    print("Q12 Execution time (s): ", time.time() - t1)


def q13():
    t1 = time.time()
    WORD1 = "special"
    WORD2 = "requests"
    total = spark.sql(
        f"""select
                c_count, count(*) as custdist
            from (
                select
                    c_custkey,
                    count(o_orderkey)
                from
                    customer left outer join orders on
                    c_custkey = o_custkey
                    and o_comment not like '%{WORD1}%{WORD2}%'
                group by
                    c_custkey
                )as c_orders (c_custkey, c_count)
            group by
                c_count
            order by
                custdist desc,
                c_count desc"""
    )
    total.show()
    print("Q13 Execution time (s): ", time.time() - t1)



def q14():
    t1 = time.time()
    total = spark.sql(
        """select
                100.00 * sum(case
                    when p_type like 'PROMO%'
                        then l_extendedprice * (1 - l_discount)
                    else 0
                end) / sum(l_extendedprice * (1 - l_discount)) as promo_revenue
            from
                lineitem,
                part
            where
                l_partkey = p_partkey
                and l_shipdate >= date '1994-03-01'
                and l_shipdate < date '1994-03-01' + interval '1' month"""
    )

    total.show()
    print("Q14 Execution time (s): ", time.time() - t1)


def q15():
    # Why `CAST` is used here?
    # From spec the l_extendedprice and l_discount are defined as decimals.
    # It defines decimal as having 12 digits and 2 digits after the point.
    # See p14 in
    # http://www.tpc.org/tpc_documents_current_versions/pdf/tpc-h_v2.17.1.pdf
    t1 = time.time()
    spark.sql(
        """create temp view revenue (supplier_no, total_revenue) as
                select
                    l_suppkey,
                    CAST(sum(l_extendedprice * (1 - l_discount)) as DECIMAL(12,2))
                from
                    lineitem
                where
                    l_shipdate >= date '1996-01-01'
                    and l_shipdate < date '1996-01-01' + interval '3' month
                group by
                    l_suppkey"""
    )
    total = spark.sql(
        """
            select
                s_suppkey,
                s_name,
                s_address,
                s_phone,
                total_revenue
            from
                supplier,
                revenue
            where
                s_suppkey = supplier_no
                and total_revenue = (
                    select
                        max(total_revenue)
                    from
                        revenue
                )
            order by
                s_suppkey"""
    )
    spark.sql(
        "drop view revenue"
    )
    total.show()
    print("Q15 Execution time (s): ", time.time() - t1)


def q16():
    t1 = time.time()
    BRAND = "Brand#45"
    TYPE = "MEDIUM POLISHED"
    SIZE1 = 49
    SIZE2 = 14
    SIZE3 = 23
    SIZE4 = 45
    SIZE5 = 19
    SIZE6 = 3
    SIZE7 = 36
    SIZE8 = 9
    total = spark.sql(
        f"""select
                p_brand,
                p_type,
                p_size,
                count(distinct ps_suppkey) as supplier_cnt
            from
                partsupp,
                part
            where
                p_partkey = ps_partkey
                and p_brand <> '{BRAND}'
                and p_type not like '{TYPE}%'
                and p_size in ({SIZE1}, {SIZE2}, {SIZE3}, {SIZE4}, {SIZE5}, {SIZE6}, {SIZE7}, {SIZE8})
                and ps_suppkey not in (
                    select
                        s_suppkey
                    from
                        supplier
                    where
                        s_comment like '%Customer%Complaints%'
                )
            group by
                p_brand,
                p_type,
                p_size
            order by
                supplier_cnt desc,
                p_brand,
                p_type,
                p_size"""
    )

    total.show()
    print("Q16 Execution time (s): ", time.time() - t1)


def q17():
    t1 = time.time()
    total = spark.sql(
        """select
                sum(l_extendedprice) / 7.0 as avg_yearly
            from
                lineitem,
                part
            where
                p_partkey = l_partkey
                and p_brand = 'Brand#23'
                and p_container = 'MED BOX'
                and l_quantity < (
                    select
                        0.2 * avg(l_quantity)
                    from
                        lineitem
                    where
                        l_partkey = p_partkey
                )"""
    )

    total.show()
    print("Q17 Execution time (s): ", time.time() - t1)


def q18():
    t1 = time.time()
    total = spark.sql(
        """select
                c_name,
                c_custkey,
                o_orderkey,
                o_orderdate,
                o_totalprice,
                sum(l_quantity)
            from
                customer,
                orders,
                lineitem
            where
                o_orderkey in (
                    select
                        l_orderkey
                    from
                        lineitem
                    group by
                        l_orderkey having
                            sum(l_quantity) > 300
                )
                and c_custkey = o_custkey
                and o_orderkey = l_orderkey
            group by
                c_name,
                c_custkey,
                o_orderkey,
                o_orderdate,
                o_totalprice
            order by
                o_totalprice desc,
                o_orderdate
            limit 100"""
    )

    total.show()
    print("Q18 Execution time (s): ", time.time() - t1)


def q19():
    t1 = time.time()
    total = spark.sql(
        """select
                sum(l_extendedprice* (1 - l_discount)) as revenue
            from
                lineitem,
                part
            where
                (
                    p_partkey = l_partkey
                    and p_brand = 'Brand#31'
                    and p_container in ('SM CASE', 'SM BOX', 'SM PACK', 'SM PKG')
                    and l_quantity >= 4 and l_quantity <= 4 + 10
                    and p_size between 1 and 5
                    and l_shipmode in ('AIR', 'AIR REG')
                    and l_shipinstruct = 'DELIVER IN PERSON'
                )
                or
                (
                    p_partkey = l_partkey
                    and p_brand = 'Brand#43'
                    and p_container in ('MED BAG', 'MED BOX', 'MED PKG', 'MED PACK')
                    and l_quantity >= 15 and l_quantity <= 25
                    and p_size between 1 and 10
                    and l_shipmode in ('AIR', 'AIR REG')
                    and l_shipinstruct = 'DELIVER IN PERSON'
                )
                or
                (
                    p_partkey = l_partkey
                    and p_brand = 'Brand#43'
                    and p_container in ('LG CASE', 'LG BOX', 'LG PACK', 'LG PKG')
                    and l_quantity >= 26 and l_quantity <= 36
                    and p_size between 1 and 15
                    and l_shipmode in ('AIR', 'AIR REG')
                    and l_shipinstruct = 'DELIVER IN PERSON'
                )"""
    )

    total.show()
    print("Q19 Execution time (s): ", time.time() - t1)


def q20():
    t1 = time.time()
    total = spark.sql(
        """select
                s_name,
                s_address
            from
                supplier,
                nation
            where
                s_suppkey in (
                    select
                        ps_suppkey
                    from
                        partsupp
                    where
                        ps_partkey in (
                            select
                                p_partkey
                            from
                                part
                            where
                                p_name like 'azure%'
                        )
                        and ps_availqty > (
                            select
                                0.5 * sum(l_quantity)
                            from
                                lineitem
                            where
                                l_partkey = ps_partkey
                                and l_suppkey = ps_suppkey
                                and l_shipdate >= date '1996-01-01'
                                and l_shipdate < date '1996-01-01' + interval '1' year
                        )
                )
                and s_nationkey = n_nationkey
                and n_name = 'JORDAN'
            order by
                s_name"""
    )

    total.show()
    print("Q20 Execution time (s): ", time.time() - t1)


def q21():
    t1 = time.time()
    NATION = "SAUDI ARABIA"
    total = spark.sql(
        f"""select
                s_name,
                count(*) as numwait
            from
                supplier,
                lineitem l1,
                orders,
                nation
            where
                s_suppkey = l1.l_suppkey
                and o_orderkey = l1.l_orderkey
                and o_orderstatus = 'F'
                and l1.l_receiptdate > l1.l_commitdate
                and exists (
                    select
                        *
                    from
                        lineitem l2
                    where
                        l2.l_orderkey = l1.l_orderkey
                        and l2.l_suppkey <> l1.l_suppkey
                )
                and not exists (
                    select
                        *
                    from
                        lineitem l3
                    where
                        l3.l_orderkey = l1.l_orderkey
                        and l3.l_suppkey <> l1.l_suppkey
                        and l3.l_receiptdate > l3.l_commitdate
                )
                and s_nationkey = n_nationkey
                and n_name = '{NATION}'
            group by
                s_name
            order by
                numwait desc,
                s_name"""
    )
    total.show()
    print("Q21 Execution time (s): ", time.time() - t1)



def q22():
    t1 = time.time()
    I1 = 13
    I2 = 31
    I3 = 23
    I4 = 29
    I5 = 30
    I6 = 18
    I7 = 17
    total = spark.sql(
        f"""select
                cntrycode,
                count(*) as numcust,
                sum(c_acctbal) as totacctbal
            from (
                select
                    substring(c_phone from 1 for 2) as cntrycode,
                    c_acctbal
                from
                    customer
                where
                    substring(c_phone from 1 for 2) in
                        ('{I1}','{I2}','{I3}','{I4}','{I5}','{I6}','{I7}')
                    and c_acctbal > (
                        select
                            avg(c_acctbal)
                        from
                            customer
                        where
                            c_acctbal > 0.00
                            and substring (c_phone from 1 for 2) in
                                ('{I1}','{I2}','{I3}','{I4}','{I5}','{I6}','{I7}')
                    )
                    and not exists (
                        select
                            *
                        from
                            orders
                        where
                            o_custkey = c_custkey
                    )
                ) as custsale
            group by
                cntrycode
            order by
                cntrycode"""
    )

    total.show()
    print("Q22 Execution time (s): ", time.time() - t1)


def run_queries():

    # Load the data
    t1 = time.time()

    lineitem = spark.table("nessie.SF1_LINEITEM_PQ_A")
    lineitem.createOrReplaceTempView("lineitem")

    part = spark.table("nessie.SF1_PART_PQ")
    part.createOrReplaceTempView("part")

    orders = spark.table("nessie.SF1_ORDERS_PQ")
    orders.createOrReplaceTempView("orders")

    customer = spark.table("nessie.SF1_CUSTOMER_PQ")
    customer.createOrReplaceTempView("customer")

    nation = spark.table("nessie.SF1_NATION_PQ")
    nation.createOrReplaceTempView("nation")

    region = spark.table("nessie.SF1_REGION_PQ")
    region.createOrReplaceTempView("region")

    supplier = spark.table("nessie.SF1_SUPPLIER_PQ")
    supplier.createOrReplaceTempView("supplier")

    partsupp = spark.table("nessie.SF1_PARTSUPP_PQ")
    partsupp.createOrReplaceTempView("partsupp")




    #print("Reading time (s): ", time.time() - t1)

    # Run the Queries:
    t1 = time.time()
    q01()
    q02()
    q03()
    q04()
    q05()
    q06()
    q07()
    q08()
    q09()
    q10()
    q11()
    q12()
    q13()
    q14()
    q15()
    q16()
    q17()
    q18()
    q19()
    q20()
    q21()
    q22()
    print("Total Query time (s): ", time.time() - t1)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [3]:
run_queries()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------------+------------+-----------+--------------------+--------------------+--------------------+------------------+------------------+--------------------+-----------+
|l_returnflag|l_linestatus|    sum_qty|      sum_base_price|      sum_disc_price|          sum_charge|           avg_qty|         avg_price|            avg_disc|count_order|
+------------+------------+-----------+--------------------+--------------------+--------------------+------------------+------------------+--------------------+-----------+
|           A|           F|3.7734107E7|5.658655440072858E10|5.375825713487001E10|5.590906522282643E10|25.522005853257337| 38273.12973462071| 0.04998529583825147|    1478493|
|           N|           F|   991417.0| 1.487504710380006E9| 1.413082168054101E9|1.4696492231943767E9|25.516471920522985| 38284.46776084846|0.050093426674200345|      38854|
|           N|           O| 7.447604E7|1.117017296977359...|1.061182303076044...|1.103670438724958E11| 25.50222676958499| 38249.11798890688|0.049996586053727664|    2920374|
|           R|           F|3.7719753E7|5.656804138090172E10|5.374129268460335E10|5.588961911983201...| 25.50579361269077|38250.854626100816| 0.05000940582998191|    1478870|
+------------+------------+-----------+--------------------+--------------------+--------------------+------------------+------------------+--------------------+-----------+

Q01 Execution time (s):  22.66706943511963
+---------+------------------+--------------+---------+--------------+--------------------+---------------+--------------------+
|s_acctbal|            s_name|        n_name|p_partkey|        p_mfgr|           s_address|        s_phone|           s_comment|
+---------+------------------+--------------+---------+--------------+--------------------+---------------+--------------------+
|  9938.53|Supplier#000005359|UNITED KINGDOM|   185358|Manufacturer#4|QKuHYh,vZGiwu2FWE...|33-429-790-6131|uriously regular ...|
|  9937.84|Supplier#000005969|       ROMANIA|   108438|Manufacturer#1|ANDENSOSmk,miq23X...|29-520-692-3537|efully express in...|
|  9936.22|Supplier#000005250|UNITED KINGDOM|      249|Manufacturer#4|B3rqp0xbSEim4Mpy2...|33-320-228-2957|etect about the f...|
|  9923.77|Supplier#000002324|       GERMANY|    29821|Manufacturer#4|        y3OD9UywSTOk|17-779-299-1839|ackages boost bli...|
|  9871.22|Supplier#000006373|       GERMANY|    43868|Manufacturer#5|          J8fcXWsTqM|17-813-485-8637|etect blithely bo...|
|  9870.78|Supplier#000001286|       GERMANY|    81285|Manufacturer#2|YKA,E2fjiVd7eUrzp...|17-516-924-4574| regular accounts...|
|  9870.78|Supplier#000001286|       GERMANY|   181285|Manufacturer#4|YKA,E2fjiVd7eUrzp...|17-516-924-4574| regular accounts...|
|  9852.52|Supplier#000008973|        RUSSIA|    18972|Manufacturer#2|t5L67YdBYYH6o,Vz2...|32-188-594-7038|rns wake final fo...|
|  9847.83|Supplier#000008097|        RUSSIA|   130557|Manufacturer#2|   xMe97bpE69NzdwLoX|32-375-640-3593| the special excu...|
|  9847.57|Supplier#000006345|        FRANCE|    86344|Manufacturer#1|VSt3rzk3qG698u6ld...|16-886-766-7945|ges. slyly regula...|
|  9847.57|Supplier#000006345|        FRANCE|   173827|Manufacturer#2|VSt3rzk3qG698u6ld...|16-886-766-7945|ges. slyly regula...|
|  9836.93|Supplier#000007342|        RUSSIA|     4841|Manufacturer#4|   JOlK7C1,7xrEZSSOw|32-399-414-5385|blithely carefull...|
|   9817.1|Supplier#000002352|        RUSSIA|   124815|Manufacturer#2|4LfoHUZjgjEbAKw T...|32-551-831-1437|wake carefully al...|
|   9817.1|Supplier#000002352|        RUSSIA|   152351|Manufacturer#3|4LfoHUZjgjEbAKw T...|32-551-831-1437|wake carefully al...|
|  9739.86|Supplier#000003384|        FRANCE|   138357|Manufacturer#2|o,Z3v4POifevE k9U...|16-494-913-5925|s after the furio...|
|  9721.95|Supplier#000008757|UNITED KINGDOM|   156241|Manufacturer#3|         Atg6GnM4dT2|33-821-407-2995|eep furiously sau...|
|  9681.33|Supplier#000008406|        RUSSIA|    78405|Manufacturer#1|          ,qUuXcftUl|32-139-873-8571|haggle slyly regu...|
|  9643.55|Supplier#000005148|       ROMANIA|   107617|Manufacturer#1|kT4ciVFslx9z4s79p...|29-252-617-4850|final excuses. fi...|
|  9624.82|Supplier#000001816|        FRANCE|    34306|Manufacturer#3|e7vab91vLJPWxxZne...|16-392-237-6726|e packages are ar...|
|  9624.78|Supplier#000009658|       ROMANIA|   189657|Manufacturer#1|oE9uBgEfSS4opIcep...|29-748-876-2014|ronic asymptotes ...|
+---------+------------------+--------------+---------+--------------+--------------------+---------------+--------------------+
only showing top 20 rows

Q02 Execution time (s):  28.100635766983032
+----------+------------------+-----------+--------------+
|l_orderkey|           revenue|o_orderdate|o_shippriority|
+----------+------------------+-----------+--------------+
|    950759|       405195.7089| 1995-02-21|             0|
|   2113221|400959.36340000003| 1995-02-19|             0|
|   1902471|400497.38470000005| 1995-03-01|             0|
|    519556|        390030.516| 1995-02-15|             0|
|   2529826|        387365.156| 1995-02-17|             0|
|   2707908|383352.75140000007| 1995-02-23|             0|
|   3900355|       379078.4143| 1995-02-13|             0|
|    247302|       376352.4222| 1995-03-03|             0|
|   2906022|       370116.1556| 1995-02-27|             0|
|   1062786|368331.40430000005| 1995-02-10|             0|
+----------+------------------+-----------+--------------+

Q03 Execution time (s):  24.642662286758423
+---------------+-----------+
|o_orderpriority|order_count|
+---------------+-----------+
|       1-URGENT|      10524|
|         2-HIGH|      10402|
|       3-MEDIUM|      10355|
|4-NOT SPECIFIED|      10505|
|          5-LOW|      10604|
+---------------+-----------+

Q04 Execution time (s):  15.672998905181885
+---------+-------------------+
|   n_name|            revenue|
+---------+-------------------+
|  VIETNAM|    5.48558391847E7|
|INDONESIA|5.482130281940001E7|
|    CHINA|5.458714914969999E7|
|    INDIA|    5.32779119171E7|
|    JAPAN|    4.76672447459E7|
+---------+-------------------+

Q05 Execution time (s):  20.135634899139404
+--------------------+
|             revenue|
+--------------------+
|1.8589968271899915E8|
+--------------------+

Q06 Execution time (s):  9.315179347991943
+-----------+-----------+------+-------------------+
|supp_nation|cust_nation|l_year|            revenue|
+-----------+-----------+------+-------------------+
|     FRANCE|    GERMANY|  1995|    5.46397327336E7|
|     FRANCE|    GERMANY|  1996|5.463308330760001E7|
|    GERMANY|     FRANCE|  1995|5.253174666969999E7|
|    GERMANY|     FRANCE|  1996|5.252054902240001E7|
+-----------+-----------+------+-------------------+

Q07 Execution time (s):  20.736351013183594
+------+--------------------+
|o_year|           mkt_share|
+------+--------------------+
|  1995|0.034435890406654804|
|  1996|0.041485521293530316|
+------+--------------------+

Q08 Execution time (s):  27.276989221572876
+---------+------+--------------------+
|   nation|o_year|          sum_profit|
+---------+------+--------------------+
|  ALGERIA|  1998|2.8659881499399997E7|
|  ALGERIA|  1997|4.8763944350099996E7|
|  ALGERIA|  1996|     4.94637229781E7|
|  ALGERIA|  1995| 4.740624952110001E7|
|  ALGERIA|  1994| 4.739905713749999E7|
|  ALGERIA|  1993|4.7700190397999994E7|
|  ALGERIA|  1992|     4.84091768395E7|
|ARGENTINA|  1998|2.8137393505700003E7|
|ARGENTINA|  1997|5.0037178447999984E7|
|ARGENTINA|  1996|     5.05435400874E7|
|ARGENTINA|  1995|4.6764504188599996E7|
|ARGENTINA|  1994|     4.64147133854E7|
|ARGENTINA|  1993|     4.88543913539E7|
|ARGENTINA|  1992|4.5163394633200005E7|
|   BRAZIL|  1998|     2.84856165272E7|
|   BRAZIL|  1997|     4.62091552592E7|
|   BRAZIL|  1996| 4.899923903020001E7|
|   BRAZIL|  1995| 4.754040784920001E7|
|   BRAZIL|  1994|     4.69825538715E7|
|   BRAZIL|  1993| 4.884326532060001E7|
+---------+------+--------------------+
only showing top 20 rows

Q09 Execution time (s):  24.305651903152466
+---------+------------------+-----------------+---------+--------------+--------------------+---------------+--------------------+
|c_custkey|            c_name|          revenue|c_acctbal|        n_name|           c_address|        c_phone|           c_comment|
+---------+------------------+-----------------+---------+--------------+--------------------+---------------+--------------------+
|     3679|Customer#000003679|780222.0795000001|  9524.03|        BRAZIL|       ,0knwwvd9aIq7|12-889-241-4764|tegrate furiously...|
|   129319|Customer#000129319|      695749.6994|  1596.91|         INDIA|5rOPv3XaHztVrH nq...|18-847-791-1743|ear the fluffily ...|
|    54652|Customer#000054652|      670931.9802|  5194.32|        FRANCE|JiDEOIkbkUq CExAE...|16-280-751-9726|ly against the sl...|
|   131659|Customer#000131659|      612228.3351|  1892.16|          PERU|bg627y0YSSLckR60s...|27-917-117-2085|ly regular accoun...|
|    87730|Customer#000087730|595454.3375000001|  1733.77|          IRAQ| KbruLePDPY7dHawO...|21-677-895-9046| haggle to the bl...|
|    12655|Customer#000012655|        594241.11|  8151.35|        FRANCE|HwiQ6yd4gkZ1X17Vb...|16-474-264-8896|rmanently regular...|
|    76792|Customer#000076792|      585052.9511|  3692.02|       ROMANIA|nPDdgGuaqI48XQMqQD0c|29-810-373-4912|thely: regular, b...|
|   135823|Customer#000135823|      580405.6566|  2749.81|        CANADA|9YXpsaVomzltfCc59...|13-792-864-2072| regular deposits...|
|   129700|Customer#000129700|576781.9545999999|  3591.75|         KENYA| 5iUqDGJUTJ7We0xoD1f|24-525-467-4857| packages. carefu...|
|    16372|Customer#000016372|      574583.0376|  9203.22|          IRAQ|4c9z6hQV1SZLU0pwm...|21-130-489-7118|carefully unusual...|
|   104425|Customer#000104425|571610.5033999999|   948.22|        BRAZIL|         EIwGI61KrYp|12-460-420-3433| the instructions...|
|   114445|Customer#000114445|      569960.9554|  2187.53|UNITED KINGDOM|   mrhYo1rwG2wyifK8v|33-929-232-8766| blithely blithel...|
|    83911|Customer#000083911|      566619.9697|   9546.0|        BRAZIL|CeCgGeUHInUT Dyc1...|12-804-305-2192|es try to use aga...|
|   128755|Customer#000128755|      557493.8084|  -398.17|          PERU|,tL1Jezfvf1eDHlxe...|27-978-836-9316| furiously regula...|
|   122638|Customer#000122638|       553512.649|  5859.87|UNITED KINGDOM|la5b7VonTJf4d6kMx...|33-200-374-6809| express deposits...|
|    33859|Customer#000033859|      552668.4598|   736.03|      ETHIOPIA|         gKSkGmDoUQo|15-777-264-6894|lithely ironic pi...|
|   121501|Customer#000121501|550749.8208000001|   5092.7|     ARGENTINA|GcgHZeFIhn,JDIHQV...|11-314-355-2213|ckly carefully ev...|
|    40912|Customer#000040912|550553.5347999999|  8065.31|        CANADA|  J0fq6AR1sj8jyFASzb|13-559-372-9505|xpress pinto bean...|
|    33632|Customer#000033632|549946.7376999999|  6107.19|       MOROCCO|    iFRNP,5pLmNeMdZx|25-548-255-8085|wake above the bo...|
|    24712|Customer#000024712|        549899.13|  8173.45|         CHINA|yrxH9ke3,arUxCO48...|28-604-818-8639|ly ironic account...|
+---------+------------------+-----------------+---------+--------------+--------------------+---------------+--------------------+

Q10 Execution time (s):  15.92398977279663
+----------+--------------------+
|ps_partkey|               value|
+----------+--------------------+
|    129760|       1.753845686E7|
|    166726|       1.650335392E7|
|    191287|1.6474801969999999E7|
|    161758|       1.610175554E7|
|     34452|       1.598384472E7|
|    139035|       1.590707834E7|
|      9403|1.5451755620000001E7|
|    154358|1.5212937879999999E7|
|     38823|       1.506480286E7|
|     85606|       1.505395715E7|
|     33354|        1.44082974E7|
|    154747|       1.440758068E7|
|     82865|1.4235489780000001E7|
|     76094|       1.409424704E7|
|       222|       1.393777774E7|
|    121271|         1.3908336E7|
|     55221|       1.371612047E7|
|     22819|1.3666434280000001E7|
|     76281|       1.364685368E7|
|     85298|       1.358115493E7|
+----------+--------------------+
only showing top 20 rows

Q11 Execution time (s):  19.315292358398438
+----------+---------------+--------------+
|l_shipmode|high_line_count|low_line_count|
+----------+---------------+--------------+
|      MAIL|           6202|          9324|
|      SHIP|           6200|          9262|
+----------+---------------+--------------+

Q12 Execution time (s):  10.83703875541687
+-------+--------+
|c_count|custdist|
+-------+--------+
|      0|   50005|
|      9|    6641|
|     10|    6532|
|     11|    6014|
|      8|    5937|
|     12|    5639|
|     13|    5024|
|     19|    4793|
|      7|    4687|
|     17|    4587|
|     18|    4529|
|     20|    4516|
|     15|    4505|
|     14|    4446|
|     16|    4273|
|     21|    4190|
|     22|    3623|
|      6|    3265|
|     23|    3225|
|     24|    2742|
+-------+--------+
only showing top 20 rows

Q13 Execution time (s):  8.336257219314575
+-----------------+
|    promo_revenue|
+-----------------+
|16.47144194577225|
+-----------------+

Q14 Execution time (s):  13.070645809173584
+---------+------------------+-----------------+---------------+-------------+
|s_suppkey|            s_name|        s_address|        s_phone|total_revenue|
+---------+------------------+-----------------+---------------+-------------+
|     8449|Supplier#000008449|Wp34zim9qYFbVctdW|20-469-856-8873|   1772627.21|
+---------+------------------+-----------------+---------------+-------------+

Q15 Execution time (s):  17.325480937957764
+--------+--------------------+------+------------+
| p_brand|              p_type|p_size|supplier_cnt|
+--------+--------------------+------+------------+
|Brand#41|  MEDIUM BRUSHED TIN|     3|          28|
|Brand#54|STANDARD BRUSHED ...|    14|          27|
|Brand#11|STANDARD BRUSHED TIN|    23|          24|
|Brand#11|STANDARD BURNISHE...|    36|          24|
|Brand#15|MEDIUM ANODIZED N...|     3|          24|
|Brand#15|SMALL ANODIZED BRASS|    45|          24|
|Brand#15|SMALL BURNISHED N...|    19|          24|
|Brand#21|MEDIUM ANODIZED C...|     3|          24|
|Brand#22|SMALL BRUSHED NICKEL|     3|          24|
|Brand#22|SMALL BURNISHED B...|    19|          24|
|Brand#25|MEDIUM BURNISHED ...|    36|          24|
|Brand#31|PROMO POLISHED CO...|    36|          24|
|Brand#33|  LARGE POLISHED TIN|    23|          24|
|Brand#33|PROMO POLISHED STEEL|    14|          24|
|Brand#35|PROMO BRUSHED NICKEL|    14|          24|
|Brand#41|ECONOMY BRUSHED S...|     9|          24|
|Brand#41|ECONOMY POLISHED TIN|    19|          24|
|Brand#41| LARGE PLATED COPPER|    36|          24|
|Brand#42|ECONOMY PLATED BRASS|     3|          24|
|Brand#42|STANDARD POLISHED...|    49|          24|
+--------+--------------------+------+------------+
only showing top 20 rows

Q16 Execution time (s):  10.800782442092896
+-----------------+
|       avg_yearly|
+-----------------+
|348406.0542857143|
+-----------------+

Q17 Execution time (s):  20.56353521347046
+------------------+---------+----------+-----------+------------+---------------+
|            c_name|c_custkey|o_orderkey|o_orderdate|o_totalprice|sum(l_quantity)|
+------------------+---------+----------+-----------+------------+---------------+
|Customer#000128120|   128120|   4722021| 1994-04-07|   544089.09|          323.0|
|Customer#000144617|   144617|   3043270| 1997-02-12|   530604.44|          317.0|
|Customer#000013940|    13940|   2232932| 1997-04-13|   522720.61|          304.0|
|Customer#000066790|    66790|   2199712| 1996-09-30|   515531.82|          327.0|
|Customer#000046435|    46435|   4745607| 1997-07-03|   508047.99|          309.0|
|Customer#000015272|    15272|   3883783| 1993-07-28|   500241.33|          302.0|
|Customer#000146608|   146608|   3342468| 1994-06-12|   499794.58|          303.0|
|Customer#000096103|    96103|   5984582| 1992-03-16|   494398.79|          312.0|
|Customer#000024341|    24341|   1474818| 1992-11-15|   491348.26|          302.0|
|Customer#000137446|   137446|   5489475| 1997-05-23|   487763.25|          311.0|
|Customer#000107590|   107590|   4267751| 1994-11-04|   485141.38|          301.0|
|Customer#000050008|    50008|   2366755| 1996-12-09|   483891.26|          302.0|
|Customer#000015619|    15619|   3767271| 1996-08-07|   480083.96|          318.0|
|Customer#000077260|    77260|   1436544| 1992-09-12|   479499.43|          307.0|
|Customer#000109379|   109379|   5746311| 1996-10-10|   478064.11|          302.0|
|Customer#000054602|    54602|   5832321| 1997-02-09|   471220.08|          307.0|
|Customer#000105995|   105995|   2096705| 1994-07-03|   469692.58|          307.0|
|Customer#000148885|   148885|   2942469| 1992-05-31|   469630.44|          313.0|
|Customer#000114586|   114586|    551136| 1993-05-19|   469605.59|          308.0|
|Customer#000105260|   105260|   5296167| 1996-09-06|   469360.57|          303.0|
+------------------+---------+----------+-----------+------------+---------------+
only showing top 20 rows

Q18 Execution time (s):  14.814175367355347
+------------+
|     revenue|
+------------+
|4930483.7774|
+------------+

Q19 Execution time (s):  11.920360326766968
+------------------+--------------------+
|            s_name|           s_address|
+------------------+--------------------+
|Supplier#000000166|       zCr2Z0hHyLjSz|
|Supplier#000000279|aVGVO0XNwTEkFwH0O...|
|Supplier#000000334|NHMGXoP 8cWsNXvV4...|
|Supplier#000000488|AzfObar4VYwnQvsGb...|
|Supplier#000000524|      rTYNcqhFosNU,4|
|Supplier#000000789|LF,j2pxKPgtbDGaj,...|
|Supplier#000000881|02RRXg45CBGhuzwpK...|
|Supplier#000000922|     V2KIQXPxtYnOkul|
|Supplier#000000944|        tUVVFs351nHm|
|Supplier#000000980| jfgiJfywBW88ZEYM 5V|
|Supplier#000001100|WXvtvdCRMWZVJXwNH...|
|Supplier#000001214|   33rk3mcWaDeMzZcSF|
|Supplier#000001240|2qtAAK9sdgjLXrUPX...|
|Supplier#000001302|     CnA5dkqpoQq cUp|
|Supplier#000001359|iDX4nJSNdkVO2FNGA...|
|Supplier#000001385|UUD4ymFUhLSjsYHaB...|
|Supplier#000001545|MNmemS8F3k46UJchr...|
|Supplier#000001574|010G9zS4hWlWkl1X3...|
|Supplier#000001581|Mayh8ynSzPga4xRjs...|
|Supplier#000001645|3dq6lQRmb6oukvgSb...|
+------------------+--------------------+
only showing top 20 rows

Q20 Execution time (s):  19.42167091369629
+------------------+-------+
|            s_name|numwait|
+------------------+-------+
|Supplier#000002829|     20|
|Supplier#000005808|     18|
|Supplier#000000262|     17|
|Supplier#000000496|     17|
|Supplier#000002160|     17|
|Supplier#000002301|     17|
|Supplier#000002540|     17|
|Supplier#000003063|     17|
|Supplier#000005178|     17|
|Supplier#000008331|     17|
|Supplier#000002005|     16|
|Supplier#000002095|     16|
|Supplier#000005799|     16|
|Supplier#000005842|     16|
|Supplier#000006450|     16|
|Supplier#000006939|     16|
|Supplier#000009200|     16|
|Supplier#000009727|     16|
|Supplier#000000486|     15|
|Supplier#000000565|     15|
+------------------+-------+
only showing top 20 rows

Q21 Execution time (s):  22.785003662109375
+---------+-------+-----------------+
|cntrycode|numcust|       totacctbal|
+---------+-------+-----------------+
|       13|    888|6737713.989999999|
|       17|    861|6460573.719999999|
|       18|    964|        7236687.4|
|       23|    892|       6701457.95|
|       29|    948|7158866.630000001|
|       30|    909|6808436.130000001|
|       31|    922|6806670.180000001|
+---------+-------+-----------------+

Q22 Execution time (s):  16.537251710891724
Total Query time (s):  394.50495290756226